.day {
    display: flex;
    justify-content: space-evenly;
}

.dayTitle {
    display: flex;
    justify-content: space-evenly;
}
.dayDate {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.card-link {
    align-items: right;
    flex-direction: row;
    margin: 20px 0 0 0;
    font-size: 0.7em
}

.separate-link {
    margin: 0 5px 0 5px;
}

.dayButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.dayForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    width: 100px;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container input[type=radio]:checked ~ .rad {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .tired {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .sad {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .love {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .stress {
    border: solid 4px skyblue;
}

  
.tired {
    max-width: 150px;
    margin: .5em;
}

.rad {
    max-width: 150px;
    margin: .5em;
}

.sad {
    max-width: 150px;
    margin: .5em;
}

.love {
    max-width: 150px;
    margin: .5em;
}

.stress {
    max-width: 150px;
    margin: .5em;
}

.description {
    width: 150px;
}

.rating-display {
    max-width: 150px;
    margin-top: 3em;
}

.editRating {
    max-width: 250px;
    margin: .5em;
}