.day {
    display: flex;
    justify-content: space-evenly;
}

.dayTitle {
    display: flex;
    justify-content: space-evenly;
}
.dayDate {
    display: flex;
    justify-content: space-evenly;
}

.card {
    display: flex;
    justify-content: space-evenly;
}

.card-title {
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
}

.card-link {
    align-items: right;
    flex-direction: row;
    margin: 20px 0 0 0;
}

.separate-link {
    margin: 0 5px 0 5px;
}

.dayButton {
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 10px 0;
}

.dayForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: block;
    margin: auto;
    padding-top: 2em;
    cursor: pointer;
    width: 200px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input[type=radio] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.container input[type=radio]:checked ~ .rad {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .tired {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .sad {
    border: solid 4px skyblue;
}

.container input[type=radio]:checked ~ .stressed {
    border: solid 4px skyblue;
}

  
.tired {
    max-width: 200px;
    margin-bottom: .5em;
}

.rad {
    max-width: 200px;
    margin-bottom: .5em;
}

.sad {
    max-width: 200px;
    margin-bottom: .5em;
}



.stressed {
    max-width: 200px;
    margin-bottom: .5em;
}

.description {
    margin-top: 1em;
    width: 200px;

}
.card-body {
    margin-top: 3em;
    width: 200px;
}

.rating-display {
    max-width: 200px;
}

.editRating {
    max-width: 250px;
    margin: .5em;
}